<div class="md-dialog-container">
  <md-dialog md-theme="default" class="md-default-theme md-transition-in">
    <md-dialog-content class="md-dialog-content" >
      <h2 class="md-title ng-binding">{{vm.title}}</h2>
      <div class="md-dialog-content-body ng-scope">
        <p class="ng-binding">{{vm.content}}.</p>
      </div>
    </md-dialog-content><md-dialog-actions>
      <md-button  ng-click="vm.confirm()"class="md-primary md-button">OK</md-button>
      <md-button ng-click="vm.cancel()" class="md-primary md-button">Cancel</md-button>
    </md-dialog-actions>
  </md-dialog>
</div>
